/* Estilos CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

h2 {
    border-bottom:#3D3D3D solid 1px;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 15px;
    margin: 30px; /* Afasta as figuras dos cantos da tela */
    margin-top: 30px; /* Afasta a figura da caixa anterior */
    margin-bottom: 30px; /* Afasta a figura da caixa posterior */
}

figure img {
    max-width: 100%; /* Define a largura máxima como 100% do espaço disponível */
}
  

.matriz-musicdot{
    width: 550px;
    margin: 0 auto; /* Serve para centralizar o conteúdo na página */ 
}

.familia-tupfeln{
    width: 275px; /* Define a largura desejada */
    float: right; /* Alinha à direita */
}


.container{
    width: 940px;
    margin: 0 auto; /* Serve para centralizar o conteúdo na página */ 
} 

.legenda {
    padding: 10px;
}


div ul.correspondencia {
    width: 40%;
}

div ul.correspondencia li {
    list-style-type: none; 
    font-style: italic;
}

div ul.telefones {
    width: 40%;
}

div ul.telefones li {
    list-style-type: none; 
}

div ul.contato {
    list-style-type: none;
    padding: 0px; 
}

div ul.contato li {
    padding: 0px; 
}

div ul.contato li.nome {
    padding-left: 10px;     
    color: #3D3D3D;
}

div ul.contato li.fone {
    padding-left: 10px;
    padding-top: 15px;     
    color: #3D3D3D;
}

div ul.contato li.email {
    padding-left: 10px;
    padding-top: 15px;
    color: #3D3D3D;
}

div ul.contato li.geral {
    padding-left: 10px; 
}

div ul.contato li.mensagem {
    padding-left: 10px;
    padding-top: 30px; 
}

div ul.contato li.botao_enviar {
    padding-left: 10px;
    padding-top: 30px; 
}

div ul.contato li.campos_obrigatorios{
    padding-left: 12px;
    font-size: 10px;
}

div input {
    width: 500px;
    height: 30px;
}

input[type=submit]{
    background-color: #FFF;
    color: #000;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

div textarea {
    width: 500px;
    height: 300px;
}
