/* Estilos CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
    /* padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px; */
}

h2 {
    border-bottom:#3D3D3D solid 1px;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 15px;
    margin: 30px; /* Afasta as figuras dos cantos da tela */
    margin-top: 30px; /* Afasta a figura da caixa anterior */
    margin-bottom: 30px; /* Afasta a figura da caixa posterior */
}

.container{
    width: 940px;
    margin: 0 auto; /* Serve para centralizar o conteúdo na página */ 
} 

.legenda {
    padding: 10px;
}
